extends ../layout
block content
    .row
        .col.s12.m4.l3
            .row.no-print
                .col.s12.m12.l12
                    // Modal Trigger
                    a.waves-effect.waves-light.btn.modal-trigger(href='#modal1') Добавить

                .col.s12.m12.l12
                    a.dropdown-button.btn.sort_dep_button(href='/comission') Полный список

                .col.s12.m12.l12
                    // Dropdown Trigger
                    a.dropdown-button.btn.sort_dep_button(href='#', data-activates='dropdown1') Сортировка по напралению
                    // Dropdown Structure
                    ul#dropdown1.dropdown-content
                        each c, i in data.departments
                            li
                                a(href='/comission/list/'+c.name) #{c.name}

            #modal1.modal
                .modal-content
                    h4 Добавить новые данные
                    .row
                    form(action='/comission', method='post')
                        .row.margin
                            .input-field.col.s6
                                i.mdi-communication-vpn-key.prefix
                                input(type='text', name='regnumber')
                                label(for='regnumber') Регистрационный номер
                            .input-field.col.s6
                                i.mdi-action-info-outline.prefix
                                input(type='text', name='point')
                                label Сумма баллов
                        .row.margin
                            .input-field.col.s12
                                i.mdi-action-info-outline.prefix
                                input(type='text', name='lastname')
                                label(for='lastname') Фамилия
                            .input-field.col.s12
                                i.mdi-action-info-outline.prefix
                                input(type='text', name='name')
                                label(for='name') Имя
                            .input-field.col.s12
                                i.mdi-action-info-outline.prefix
                                input(type='text', name='middlename')
                                label Отчество

                            .input-field.col.s12
                                select(name='department')
                                    each c, i in data.departments
                                        option(name="#{c.name}") #{c.name}
                                label Выберите направление

                        .modal-footer
                            input.btn.btn-success(type='submit', value='Сохранить')
                            a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Отмена

        .col.s12.m8.l9


            table.responsive-table.striped
                thead
                    tr
                        th(data-field='id') №
                        th(data-field='regnumber') Рег. номер
                        th(data-field='fio') ФИО
                        th(data-filed='depart') Напраление
                        th(data-field='point') Баллы
                        th(data-field='created') Дата создания
                tbody
                    each c, i in data.comission
                        tr
                            td #{i+1}
                            td #{c.regnumber}
                            td #{c.lastname} #{c.name} #{c.middlename}
                            td #{c.department}
                            td #{c.point}
                            td #{moment(c.created).format('DD-MM-YYYY HH:mm', 'RU')}



            script
